<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Update List</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'grocery_list/css/style.css' %}">
    </head>
    <body>
        <div class="container mt-5">
            <h1>Update Grocery List</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Item Name</label>
                    {{ form.item_name }}
                </div>
                <div class="form-group">
                    <label>Item Quantity</label>
                    {{ form.item_quantity }}
                </div>
                <div class="form-group">
                    <label>Item status</label>
                    {{ form.item_status }}
                </div>
                <div class="form-group">
                    <label>Date</label>
                    {{ form.date }}
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-danger">
                </div>
            </form>
        </div>
    </body> 
</html>
