<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load the path to your static files-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}SE{% endblock %}</title>
    {% load static %}
    {% block extra_header_links %}{% endblock %}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% block body %}
{% endblock %}

{% block external_script %}{% endblock %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
